body {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0 30px;
    font: 16px/30px Montserrat, sans-serif;
    color: aliceblue;
    background-color: #343434;
}

h1 {
    font-style: normal;
    font-weight: bold;
    color: 	#FF7518;
}

#rectangle {
    padding: 4px 20px;
    background:#404040;
}

dt{
    color: #FF7518;
}

h2 {
    font-style: normal;
    font-weight: bold;
    color: 	#FF7518;

}

h3 {
    color: 	#FF7518;
}

h4 {
    color: 	#FF7518;

}
